@import url("https://fonts.googleapis.com/css2?family=Rubik&display=swap");

html,
body {
  color: #fff;
  background-color: #171b25;
}

[class*="css"],
#app {
  font-family: "Rubik", sans-serif;
  font-weight: 400;
}

input[aria-label="URL eingeben und Enter drücken:"] {
  font-size: 1rem;
  padding: 0.75rem;
}

[data-baseweb="input"] {
  margin-bottom: 0;
}

[data-baseweb="checkbox"] {
  display: flex;
  align-items: center;
  padding-top: 0.25rem;
}

[data-baseweb="checkbox"] p {
  display: flex;
  align-items: center;
  font-size: 1rem;
  padding-top: 0.25rem;
  padding-left: 0.25rem;
}

[data-baseweb="checkbox"] span {
  width: 1.25rem;
  height: 1.25rem;
}

div[data-testid="metric-container"] {
  text-align: center !important;
  padding-bottom: 0.5rem;
  margin: 2rem 0;
  border-bottom: 2px dotted #3b435b;
}

.stMultiSelect {
  margin-bottom: 1.25rem;
}

span[data-baseweb="tag"] {
  padding: 0.875rem;
  margin: 0.4rem 0.4rem 0.4rem 0;
}

header,
footer {
  display: none !important;
}

.block-container {
  width: 100%;
  max-width: 100rem;
  padding: 0;
  box-sizing: border-box;
}

section.main {
  width: 100%;
  max-width: 100rem;
  padding: 0 4rem 2rem 4rem;
  box-sizing: border-box;
  margin: 0 auto;
}

[data-testid="stSidebar"] {
  width: 24rem !important;
}

h1 {
  position: relative;
  font-size: 3rem !important;
  font-weight: 400;
  padding: 0;
  margin-bottom: 0.5rem;
}

h2 {
  font-size: 2rem;
  margin-bottom: 0.5rem;
}

h3 {
  font-size: 1.375rem;
  margin-top: 1.25rem;
}

h4 {
  font-size: 1.125rem;
  text-decoration-thickness: 1px;
  background-color: #fff;
  color: #3b435b;
  padding: 0.5rem 1rem;
}

p.slogan {
  font-size: 1.125rem;
  margin-bottom: 2.5rem;
}

.success,
.error,
.warning,
.info,
.text {
  display: block;
  font-weight: 600;
  padding: 1rem;
  border-radius: 0.25rem;
  margin-bottom: 1rem;
}

.tips {
  display: block;
  font-weight: 600;
  padding: 0;
  border-radius: 0.25rem;
  margin-bottom: 1rem;
}

.tips p {
  padding: 1rem 1rem 0 1rem;
}

.success,
.warning,
.error,
.info {
  color: #000;
}

.success {
  background-color: #1aa260;
}

.error {
  background-color: #ea4335;
}

.warning {
  background-color: #fbbc05;
}

.info {
  background-color: #5763e4;
}

.tips {
  background-color: transparent;
  border: 2px solid #fff;
  margin-bottom: 2rem;
}

.text {
  color: #fff;
  background-color: #3b435b;
}

.fa-check,
.fa-times,
.fa-exclamation,
.fa-sliders {
  margin-right: 1rem;
}

.no-url {
  margin-top: 5rem;
  text-align: center;
}

.no-url p {
  font-size: 1.75rem;
}

.no-url .fa-unlink {
  font-size: 4rem;
  color: #5763e4;
  margin-bottom: 2rem;
}

.no-url .fa-bug {
  font-size: 4rem;
  color: #ea4335;
  margin-bottom: 2rem;
}

.links {
  max-height: 150px !important;
  overflow-y: scroll;
  background-color: white;
}

code {
  color: #fff;
  background: #3b435b;
}
